<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">To-Do list</a>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "home", home_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Editar Conta", editmembro_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "listar membros", listmembros_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "listar tarefas", listpage_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "cadastrar Membro", cadastro_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "cadastrar tarefa", cadastrotarefa_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

</nav>

<div >
    <div class="list-tarefa">
        <% @membros.each do |membro|%>
            <div class="card bg-light mb-3" style="max-width: 15rem; max-height: 20rem">
                <div class="card-header"> <b><%=membro['name']%></b> </div>
                <div class="card-body">
                  <b>email:</b> <%=membro['email']%>  
                </div>
            </div>
        <% end %>
    </div>   
</div>
