<%= form_with model: @membro,url: cadastro_path, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :senha %>
    <%= form.text_area :senha %>
  </div>

  <div >
    <%= form.submit %>
  </div>
<% end %>