<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">To-Do list</a>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "home", home_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "listar tarefas", listpage_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "cadastrar Membro", cadastro_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "cadastrar tarefa", cadastrotarefa_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

</nav>

<div>
    <ul>
        <% @tarefas.each do |tarefa| %>
            <div class="card bg-light mb-3" style="max-width: 15rem; max-height: 20rem">
                <div class="card-header"> <%=tarefa.nome%> </div>
                <div class="card-body">
                    <p class="card-text">descricao: <%=tarefa.descricao%></p>
                    <p class="card-text">prioridade: <%=tarefa.prioridade%></p>
                    <p class="card-text">membro: <%=tarefa.membro%></p>
                    <p class="card-text">done: <%=tarefa.finalizada%></p>
                    <%= link_to "editar", edit_edit_path(tarefa), class: "btn btn-primary" %>
                    
                    <%= link_to "finalizar", edit_path, class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
    </ul>   
</div>
