<div>
    <%= link_to "listar tarefas", listpage_path, class: "btn btn-primary" %>
    <%= link_to "cadastrar tarefa", cadastrotarefa_path, class: "btn btn-primary" %>
    <%= link_to "cadastrar novo membro", cadastro_path, class: "btn btn-primary" %>
</div>
<div>
    <ul>
        <% @tarefas.each do |tarefa| %>
            <li><%= tarefa.nome %>
                <%= tarefa.descricao%>
                <%= tarefa.finalizada%>
                <%= tarefa.data%>
                <%= tarefa.prioridade%>
                <%= tarefa.membro%>
                </li>
        <% end %>
    </ul>   
</div>