<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">To-Do list</a>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "home", home_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "listar tarefas", listpage_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "cadastrar Membro", cadastro_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "cadastrar tarefa", cadastrotarefa_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

</nav>


<div class="alert alert-primary" role="alert">
  suas tarefas
</div>

<div>
    <div class="list-tarefa">
        <% @tarefas.each do |tarefa| %>
            <div class="card bg-light mb-3" style="width: 20rem; flex-wrap: wrap;">
                <div class="card-header"> <b><%=tarefa.nome%></b>  <p><%=tarefa.membro%></p></div>
                <div class="card-body">
                    <p class="card-text"><b>descricao:</b> <%=tarefa.descricao%></p>
                    <p class="card-text"><b>prioridade:</b> <%=tarefa.prioridade%></p>
                    <p class="card-text"><b>done:</b> <%=tarefa.finalizada%></p>
                    <p class="card-text"><b>data:</b> <%=tarefa.data%></p>            
                    <div style="display: flex; flex-direction: row; gap: 10px; ">
                    <%= button_to "Finalizar", updatedatetime_edit_path(tarefa), method: :patch, data: { confirm: 'Are you sure?' }, class: "btn btn-success"%>
                    <%= link_to "editar", edit_edit_path(tarefa), class: "btn btn-primary" %>
                    <%= button_to "excluir", destroy_edit_path(tarefa), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                    </div>

                     
                </div>
                
            </div>
            
        <% end %>
    </div>
</div>