<%= form_with model: @tarefa,url: update_edit_path(@tarefa), local: true do |form| %>
  
  <div>
    <%= form.label :membro %>
  </div>

  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :prioridade %>
    <%= form.select :prioridade, options_for_select(['baixa', 'media', 'alta']) %>
  </div>

  <div>
    <%= form.label :finalizada %>
    <%= form.select :finalizada, options_for_select(['false', 'true']) %>
  </div>

  <div >
    <%= form.submit %>
  </div>
<% end %>