<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">To-Do list</a>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "home", home_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Editar Conta", editmembro_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "listar membros", listmembros_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "listar tarefas", listpage_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "cadastrar Membro", cadastro_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <div class="form-inline" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "cadastrar tarefa", cadastrotarefa_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

</nav>

<div style="display: flex; flex-direction: column;gap:10px">
<%= form_tag update_edit_path(params[:id]), method: :put do %>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
      <%= text_field_tag 'name', @tarefa["name"], class: 'form-control' %>
    </div>
  </div>

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
      <%= text_area_tag 'description', @tarefa["description"], class: 'form-control' %>
    </div>
  </div>

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Priority</span>
      <%= select_tag 'priority', options_for_select(['low', 'medium', 'high'], @tarefa["priority"]), class: 'form-control' %>
    </div>
  </div>

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Is Ended</span>
      <%= select_tag 'isEnded', options_for_select(['false', 'true'], @tarefa["isEnded"]), class: 'form-control' %>
    </div>
  </div>

  <div>
    <%= submit_tag "Edit", class: "btn btn-primary", style: "width: 10rem;" %>
  </div>
<% end %>

<%= form_tag destroy_edit_path(params[:id]), method: :delete, data: { confirm: 'Are you sure?' } do %>
  <%= submit_tag 'Delete', class: 'btn btn-danger', style: "width: 10rem;" %>
<% end %>