<ul>
  <% @tarefas.each do |tarefa| %>
    <li><%= tarefa.nome %>
        <%= tarefa.descricao%>
        <%= tarefa.finalizada%>
        <%= tarefa.data%>
        <%= tarefa.prioridade%>
        <%= tarefa.membro%>
        </li>
  <% end %>
</ul>
